<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-3">MAJOR</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="row">
      <div class="col-md-5">
        <div class="jumbotron">
          <h1 class="display-6 text-center">MAJOR INFORMATION</h1>
        </div>
        <!-- <app-major-form></app-major-form> -->
        <form novalidate autocomplete="off" #form="ngForm"(submit)="onSubmit(form)">
          <input type="hidden" name="MajorId"
          [value]="service.formData.MajorId"/>
          <div class="form-group">
              <label>MAJOR ID</label>
              <input class="form-control form-control-lg" placeholder="ID" name="MajorId"
              #MajorId="ngModel" [(ngModel)]="service.formData.MajorId" >
          </div>
          <div class="form-group">
              <label>MAJOR NAME</label>
              <input class="form-control form-control-lg" placeholder="Full Name" name="MajorName"
              #MajorName="ngModel" [(ngModel)]="service.formData.MajorName" >
          </div>
          <div class="form-group">
              <button class="btn btn-info btn-lg btn-block" type="submit"[disabled]="form.invalid">SUBMIT</button>
          </div>
        </form>
      </div>
      <div class="col-md-7">
        <span>LIST OF MAJOR</span>
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th>Major ID</th>
              <th>Major Name</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let md of service.list">
              <td (click)="populateForm(md)">{{md.majorId}}</td>
              <td (click)="populateForm(md)">{{md.majorName}}</td>
              <td>
                <i class="far fa-trash-alt fa-lg text-danger"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
