<mat-nav-list>
  <div class="logo py-4">
    <img src="./assets/logo.svg" alt="FTask" />
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2">FTask Management</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
    <mat-icon>home</mat-icon> Semester
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
    <mat-icon>dashboard</mat-icon> Major
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/subjectgroup">
    <mat-icon>subjectgroup</mat-icon> Subject Group
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/subject">
    <mat-icon>subject</mat-icon> Subject
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/topic">
    <mat-icon>topic</mat-icon> Topic
  </a>
</mat-nav-list>
