/* You can add global styles to this file, and also import other style files */

* {
  font-family: "Times New Roman", sans-serif;
  li { cursor: pointer; }
}

html,
body {
  height: 100%;
  cursor: context-menu;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  cursor: context-menu;
}
input.invalid{
  border-color: red;
}
